.App {
  text-align: center;
}

.App-header {
  background-color: #007500;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: sans-serif;
  color: black;
}

.Artist-list {
  color: black

}

.list {
  justify-content: center;
  align-content: space-between;
  padding-top: 30cm;
}

.itemText {
  color: black;
}

.MuiCardMedia-media-57 {
  margin-left: 150px;
  image-rendering: optimizeQuality;

}

#artistImage {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  flex: auto;
  justify-content: center;
  margin-top: 50px;
}

.titleArtist {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
}


